absl-py==1.0.0
alembic==1.7.7
asttokens==2.0.5
astunparse==1.6.3
attrs==19.3.0
backcall==0.2.0
bleach==3.1.5
branca==0.4.2
cachetools==5.1.0
calplot==0.1.7.3
certifi==2020.6.20
chardet==3.0.4
click==8.1.3
cloudpickle==2.1.0
cycler==0.10.0
databricks-cli==0.16.6
debugpy==1.6.0
decorator==4.4.2
defusedxml==0.6.0
docker==5.0.3
entrypoints==0.3
executing==0.8.3
Flask==2.1.2
flatbuffers==1.12
folium==0.12.1.post1
gast==0.4.0
gitdb==4.0.9
GitPython==3.1.27
google-auth==2.6.6
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.46.3
gunicorn==20.1.0
h5py==3.7.0
idna==2.10
importlib-metadata==4.11.4
importlib-resources==5.7.1
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==2.1.2
jedi==0.17.2
Jinja2==3.1.2
joblib==1.1.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.1.0
jupyter-core==4.9.2
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
libclang==14.0.1
Mako==1.2.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.3.4
matplotlib-inline==0.1.3
missingno==0.4.2
mistune==0.8.4
mlflow==1.26.1
nbconvert==5.6.1
nbformat==5.0.7
nest-asyncio==1.5.5
notebook==6.0.3
numpy==1.22.4
oauthlib==3.2.0
opt-einsum==3.3.0
packaging==20.4
pandas==1.2.3
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pip-autoremove==0.9.1
plotly==4.9.0
prometheus-client==0.8.0
prometheus-flask-exporter==0.20.1
prompt-toolkit==3.0.5
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.6.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
PyJWT==2.4.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.2
pytz==2020.1
PyYAML==6.0
pyzmq==22.3.0
qtconsole==4.7.5
QtPy==1.9.0
querystring-parser==1.2.4
requests==2.24.0
requests-oauthlib==1.3.1
retrying==1.3.3
rsa==4.8
scikit-learn==1.1.1
scipy==1.6.1
seaborn==0.11.1
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
smmap==5.0.0
SQLAlchemy==1.4.36
sqlparse==0.4.2
stack-data==0.2.0
statsmodels==0.12.2
tabulate==0.8.9
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==3.1.0
tornado==6.1
traitlets==5.1.1
typing_extensions==4.2.0
urllib3==1.25.9
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.1.2
widgetsnbextension==3.5.1
wrapt==1.14.1
zipp==3.8.0
